version: "3.8"
services:
  milvus-etcd:
    image: quay.io/coreos/etcd:v3.5.5
    environment:
      - ETCD_AUTO_COMPACTION_MODE=revision
      - ETCD_AUTO_COMPACTION_RETENTION=1000
      - ETCD_QUOTA_BACKEND_BYTES=4294967296
      - ETCD_SNAPSHOT_COUNT=50000
    volumes:
      - etcd:/etcd
    command: etcd -advertise-client-urls=http://127.0.0.1:2379 -listen-client-urls http://0.0.0.0:2379 --data-dir /etcd

  milvus-minio:
    image: minio/minio:RELEASE.2023-03-20T20-16-18Z
    environment:
      MINIO_ACCESS_KEY: minioadmin
      MINIO_SECRET_KEY: minioadmin
    volumes:
      - minio:/minio_data
    command: minio server /minio_data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3

  milvus:
    image: milvusdb/milvus:v2.2.8
    command: ["milvus", "run", "standalone"]
    environment:
      ETCD_ENDPOINTS: milvus-etcd:2379
      MINIO_ADDRESS: milvus-minio:9000
    volumes:
      - milvus:/var/lib/milvus
    ports:
      - "19530:19530"
      - "9091:9091"
    depends_on:
      - "milvus-etcd"
      - "milvus-minio"

  db:
    image: postgres:15
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=esearch
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data

  api:
    build: ./backend
    environment:
      - API_OAUTH_ATLASSIAN__CLIENT_ID=""
      - API_OAUTH_ATLASSIAN__CLIENT_SECRET=""
      - API_RWKV_MODEL_PATH="./tmp/rwkv-model.pth"
      - API_EMBEDDER_MODEL_NAME="e5"
      - API_SQLALCHEMY_DATABASE_URL="postgresql+psycopg2://postgres:password@db:5432/esearch"
    volumes:
      - ./backend/tmp/rwkv-model.pth:/app/tmp/rwkv-model.pth
    ports:
      - "8000:8000"
    depends_on:
      - "db"

volumes:
  db:
  etcd:
  minio:
  milvus:

networks:
  default:
    name: esearch
